# Importação das bibliotecas

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
import glob


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Definição dos parâmetros de conexão com o MySQL

In [2]:
user = "root"   
senha = "2020"
banco_de_dados = "delivery_center"
host = "localhost"
porta = 3306
    
conexao = create_engine(url=f"mysql+pymysql://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

# Importação dos dados

In [3]:
# Obtém o diretório da pasta com os datasets (considerando que está na mesma pasta que o Notebook)
caminho_pasta = os.getcwd() + '\delivery_center'

# Obtém o diretório para a sua pasta contendo os arquivos CSV
caminho_pasta = os.path.join(caminho_pasta, "*.csv")

# Função glob para obter a lista de arquivos CSV na pasta
lista_arquivos = glob.glob(caminho_pasta)

lista_dfs = []

# Iteração sobre a lista de arquivos para ler cada arquivo CSV
for arquivo in lista_arquivos:
    nome_dataframe = arquivo.split("\\")[-1].split('.')[0]
    
    # Especifica a codificação do arquivo, para não haver problemas na leitura
    globals()[nome_dataframe] = pd.read_csv(arquivo, encoding='latin1')
    lista_dfs.append(nome_dataframe)
    print(nome_dataframe)

channels
deliveries
drivers
hubs
orders
payments
stores

In [4]:
# Amostra de cada dataframe, para checar se está tudo de acordo
for nome in lista_dfs:
    print(nome)
    display(globals()[nome].sample(10))

channels

    channel_id    channel_name channel_type
26          34     AHORA PLACE  MARKETPLACE
8            9     THINK PLACE  OWN CHANNEL
39          49      RIBA PLACE  OWN CHANNEL
33          42       OFF PLACE  MARKETPLACE
13          15      EATS PLACE  MARKETPLACE
0            1     OTHER PLACE  OWN CHANNEL
17          23    ATCHIN PLACE  MARKETPLACE
7            8    MADRID PLACE  OWN CHANNEL
6            7    BERLIN PLACE  OWN CHANNEL
12          13  VELOCITY PLACE  MARKETPLACE
21          29      GLUB PLACE  MARKETPLACE
29          37     LONGO PLACE  MARKETPLACE
11          12       ALL PLACE  MARKETPLACE
30          38      WEAR PLACE  MARKETPLACE
35          44     READY PLACE  OWN CHANNEL
27          35    BRAZIL PLACE  MARKETPLACE
23          31    SEARCH PLACE  MARKETPLACE
31          39    RONALD PLACE  MARKETPLACE
4            5      FOOD PLACE  MARKETPLACE
14          17     SHOPP PLACE  MARKETPLACE

deliveries

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
149253,2538155,80456753,939.0,1842.0,DELIVERED
137027,2508858,79606090,25712.0,1481.0,DELIVERED
276986,2844117,87642875,NaN,3973.0,DELIVERED
373184,3079003,93100380,53167.0,3287.0,DELIVERED
240402,2758560,86003225,11941.0,791.0,DELIVERED
22374,2228322,70518404,22369.0,2267.0,DELIVERED
275431,2840624,87545174,14509.0,1266.0,DELIVERED
250117,2780979,86469531,1405.0,1156.0,DELIVERED
179359,2611849,82460177,37050.0,1421.0,DELIVERED
100722,2420242,76861996,8592.0,203.0,DELIVERED
76474,2360148,74970389,22266.0,2564.0,DELIVERED
15353,2211611,69903751,18178.0,1691.0,DELIVERED
243079,2764862,86155850,12346.0,9443.0,DELIVERING
354436,3033418,92100902,48643.0,10085.0,DELIVERED
177986,2608498,82147023,9509.0,16186.0,DELIVERED
293477,2882605,88387459,20062.0,7629.0,DELIVERED
166100,2579665,81672190,26189.0,1917.0,DELIVERED
119121,2465141,78270078,24933.0,1863.0,DELIVERED
210610,2688312,84403179,43312.0,1707.0,DELIVERED
163728,2573781,81501472,2473.0,681.0,DELIVERED

drivers

      driver_id driver_modal        driver_type
3813      47317      MOTOBOY          FREELANCE
1155      11895      MOTOBOY          FREELANCE
923        9547        BIKER          FREELANCE
3201      39458        BIKER          FREELANCE
3461      42814      MOTOBOY          FREELANCE
692        7108        BIKER          FREELANCE
4104      51231      MOTOBOY          FREELANCE
1134      11535      MOTOBOY          FREELANCE
3601      44908      MOTOBOY          FREELANCE
3937      48857      MOTOBOY          FREELANCE
4135      51766      MOTOBOY  LOGISTIC OPERATOR
1386      15338        BIKER          FREELANCE
4412      56187      MOTOBOY  LOGISTIC OPERATOR
1945      24330      MOTOBOY          FREELANCE
825        8378      MOTOBOY          FREELANCE
2689      32820      MOTOBOY  LOGISTIC OPERATOR
204        1511      MOTOBOY          FREELANCE
1283      13758      MOTOBOY          FREELANCE
512        5380        BIKER          FREELANCE
2803      34357      MOTOBOY          FREELANCE

hubs

,hub_id,hub_name,hub_city,hub_state,hub_latitude,hub_longitude
5,13,HIP HOP SHOPPING,RIO DE JANEIRO,RJ,-22.885820,-43.279218
24,44,FORTRAN SHOPPING,CURITIBA,PR,-25.435140,-49.316788
22,42,PHP SHOPPING,CURITIBA,PR,-25.438105,-49.266532
13,26,SQL SHOPPING,SÃO PAULO,SP,-23.563019,-46.652621
21,37,RIVER SHOPPING,SÃO PAULO,SP,-23.507105,-46.718197
15,28,RAP SHOPPING,SÃO PAULO,SP,-23.595001,-46.685984
16,29,SUBWAY SHOPPING,SÃO PAULO,SP,-23.561053,-46.558976
27,73,HUBLESS SHOPPING,SÃO PAULO,SP,-22.947461,-43.183467
0,2,BLUE SHOPPING,PORTO ALEGRE,RS,-30.047415,-51.213510
18,33,COFFEE SHOPPING,SÃO PAULO,SP,-23.579067,-46.592820
28,75,PYTHON SHOPPING,CURITIBA,PR,-25.477073,-49.289660
2,4,RED SHOPPING,PORTO ALEGRE,RS,-30.021948,-51.208382
17,31,PAGODE SHOPPING,SÃO PAULO,SP,-23.629826,-46.735203
29,85,REACT SHOPPING,SÃO PAULO,SP,-23.513353,-46.618353
4,8,GOLDEN SHOPPING,RIO DE JANEIRO,RJ,-22.921475,-43.234774
19,35,BEACH SHOPPING,RIO DE JANEIRO,RJ,-22.969880,-43.370811
31,91,GAROA SHOPPING,SÃO PAULO,SP,-23.525124,-46.546807
23,43,HOTMILK SHOPPING,CURITIBA,PR,-25.441221,-49.277690
26,55,ELIXIR SHOPPING,SÃO PAULO,SP,-23.521776,-46.624152
25,51,RUBY SHOPPING,RIO DE JANEIRO,RJ,-22.923675,-43.567757

orders

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,order_created_minute,order_created_day,order_created_month,order_created_year,order_moment_created,order_moment_accepted,order_moment_ready,order_moment_collected,order_moment_in_expedition,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
297939,89295174,274,5,89295174,89295174,FINISHED,70.40,11.90,3.39,14,29,10,4,2021,4/10/2021 2:29:42 PM,4/10/2021 2:30:40 PM,4/10/2021 2:47:05 PM,4/10/2021 2:51:54 PM,4/10/2021 2:52:36 PM,4/10/2021 2:53:05 PM,NaN,4/10/2021 3:21:30 PM,4.82,0.50,17.38,5.52,6.00,28.42,51.80
284776,88443183,3460,5,88443183,88443183,FINISHED,39.00,0.00,6.70,18,14,6,4,2021,4/6/2021 6:14:23 PM,4/6/2021 6:15:57 PM,4/6/2021 6:22:20 PM,4/6/2021 6:25:00 PM,NaN,4/6/2021 6:29:26 PM,NaN,4/6/2021 6:32:13 PM,2.65,NaN,7.95,NaN,7.08,2.80,17.83
281977,88272036,3279,46,88272036,88272036,FINISHED,89.90,0.00,6.83,19,43,5,4,2021,4/5/2021 7:43:44 PM,4/5/2021 7:43:44 PM,4/5/2021 7:43:45 PM,4/5/2021 7:48:33 PM,4/5/2021 7:48:58 PM,4/5/2021 8:07:57 PM,NaN,4/5/2021 8:44:33 PM,4.80,18.98,0.00,5.23,24.22,36.60,60.82
230649,85982552,53,5,85982552,85982552,FINISHED,35.90,0.00,8.27,21,22,25,3,2021,3/25/2021 9:22:50 PM,3/25/2021 9:23:06 PM,3/25/2021 9:39:07 PM,3/25/2021 9:40:11 PM,3/25/2021 9:42:09 PM,3/25/2021 9:42:34 PM,NaN,3/25/2021 10:21:08 PM,1.07,0.42,16.28,3.03,3.45,38.57,58.30
223651,85604071,495,5,85604071,85604071,CANCELED,46.90,11.90,0.00,21,5,23,3,2021,3/23/2021 9:05:31 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58874,73659780,622,5,73659780,73659780,FINISHED,29.90,6.90,10.01,22,28,25,1,2021,1/25/2021 10:28:22 PM,1/25/2021 10:29:12 PM,1/25/2021 10:30:53 PM,1/25/2021 10:32:30 PM,1/25/2021 10:34:03 PM,1/25/2021 10:35:48 PM,NaN,1/25/2021 10:50:48 PM,1.62,1.77,2.50,3.17,4.93,15.00,22.43
79700,75418007,753,5,75418007,75418007,FINISHED,35.80,8.90,8.85,14,48,3,2,2021,2/3/2021 2:48:54 PM,2/3/2021 2:49:14 PM,2/3/2021 3:06:08 PM,2/3/2021 3:06:50 PM,2/3/2021 3:06:53 PM,2/3/2021 3:09:45 PM,2/3/2021 3:24:47 PM,2/3/2021 4:07:50 PM,0.68,2.87,17.25,0.75,3.62,15.03,35.90
258707,87278084,1103,46,87278084,87278084,FINISHED,164.70,0.00,6.06,20,53,31,3,2021,3/31/2021 8:53:38 PM,3/31/2021 8:53:49 PM,3/31/2021 8:53:39 PM,NaN,NaN,4/1/2021 12:05:13 AM,NaN,4/1/2021 12:22:13 AM,NaN,NaN,0.02,NaN,191.57,17.00,208.58
176711,82783887,149,5,82783887,82783887,FINISHED,257.25,11.90,5.00,22,2,10,3,2021,3/10/2021 10:02:42 PM,3/10/2021 10:03:24 PM,3/10/2021 10:28:40 PM,3/10/2021 10:29:50 PM,3/10/2021 10:31:11 PM,3/10/2021 10:34:18 PM,NaN,3/10/2021 10:47:21 PM,1.17,3.12,25.97,2.52,5.63,13.05,44.65
165303,82101818,1037,5,82101818,82101818,FINISHED,51.80,11.90,5.82,14,43,7,3,2021,3/7/2021 2:43:52 PM,3/7/2021 2:44:25 PM,3/7/2021 3:10:16 PM,3/7/2021 3:10:57 PM,3/7/2021 3:15:37 PM,3/7/2021 3:19:38 PM,NaN,3/7/2021 3:43:38 PM,0.67,4.02,26.42,5.35,9.35,24.00,59.77
3584,68771848,493,5,68771848,68771848,FINISHED,49.90,7.90,6.00,0,2,3,1,2021,1/3/2021 12:02:16 AM,1/3/2021 12:03:31 AM,1/3/2021 12:26:53 AM,1/3/2021 12:28:38 AM,1/3/2021 12:30:16 AM,1/3/2021 12:31:00 AM,NaN,1/3/2021 12:43:19 AM,1.75,0.73,24.60,3.40,4.13,12.32,41.05
50805,73058966,676,5,73058966,73058966,FINISHED,123.60,11.90,6.20,22,24,22,1,2021,1/22/2021 10:24:05 PM,1/22/2021 10:24:47 PM,1/22/2021 10:46:55 PM,1/22/2021 10:47:04 PM,1/22/2021 10:47:06 PM,1/22/2021 10:48:48 PM,NaN,1/22/2021 11:17:41 PM,0.13,1.70,22.85,0.18,1.88,28.88,53.62
317321,90459910,409,5,90459910,90459910,FINISHED,52.80,0.00,7.90,22,52,15,4,2021,4/15/2021 10:52:02 PM,4/15/2021 10:53:01 PM,4/15/2021 11:29:10 PM,4/15/2021 11:30:36 PM,4/15/2021 11:36:20 PM,4/15/2021 11:48:05 PM,NaN,4/15/2021 11:54:26 PM,1.43,11.73,37.13,7.17,18.92,6.37,62.40
139489,80187356,3943,5,80187356,80187356,FINISHED,25.90,4.90,6.39,18,23,26,2,2021,2/26/2021 6:23:17 PM,2/26/2021 6:24:08 PM,2/26/2021 6:32:33 PM,2/26/2021 6:35:11 PM,2/26/2021 6:39:30 PM,2/26/2021 6:39:45 PM,NaN,2/26/2021 6:59:01 PM,2.63,0.25,9.25,6.95,7.20,19.25,35.72
316092,90408967,674,5,90408967,90408967,FINISHED,32.40,0.00,8.17,17,30,15,4,2021,4/15/2021 5:30:03 PM,4/15/2021 5:30:51 PM,4/15/2021 5:37:34 PM,4/15/2021 5:41:20 PM,4/15/2021 5:43:13 PM,4/15/2021 5:44:32 PM,NaN,4/15/2021 5:53:38 PM,3.75,1.32,7.53,5.65,6.95,9.10,23.60
31099,71337205,676,5,71337205,71337205,FINISHED,45.90,11.90,6.00,22,47,14,1,2021,1/14/2021 10:47:54 PM,1/14/2021 10:47:59 PM,1/14/2021 11:15:46 PM,1/14/2021 11:18:15 PM,1/14/2021 11:18:17 PM,1/14/2021 11:21:39 PM,NaN,1/14/2021 11:34:54 PM,2.50,3.37,27.87,2.52,5.90,13.23,47.00
360008,92989827,1076,5,92989827,92989827,FINISHED,38.00,0.00,3.68,15,27,28,4,2021,4/28/2021 3:27:36 PM,4/28/2021 3:28:22 PM,4/28/2021 3:41:10 PM,4/28/2021 3:42:20 PM,4/28/2021 3:47:37 PM,4/28/2021 3:47:57 PM,NaN,4/28/2021 4:13:35 PM,1.17,0.33,13.55,6.45,6.78,25.63,45.98
337503,91680212,95,5,91680212,91680212,FINISHED,27.00,6.90,8.44,17,50,21,4,2021,4/21/2021 5:50:40 PM,4/21/2021 5:50:53 PM,4/21/2021 5:54:30 PM,4/21/2021 5:55:54 PM,4/21/2021 5:58:27 PM,4/21/2021 5:59:40 PM,NaN,4/21/2021 6:15:41 PM,1.40,1.22,3.83,3.95,5.17,16.02,25.02
193417,83839359,886,5,83839359,83839359,FINISHED,35.90,4.90,5.53,16,51,15,3,2021,3/15/2021 4:51:19 PM,3/15/2021 4:51:53 PM,3/15/2021 5:01:53 PM,3/15/2021 5:02:32 PM,3/15/2021 5:04:46 PM,3/15/2021 5:06:52 PM,NaN,3/15/2021 5:31:41 PM,0.65,2.10,10.57,2.88,4.98,24.82,40.38
234377,86184398,2170,15,86184398,86184398,FINISHED,84.00,0.99,8.98,19,0,26,3,2021,3/26/2021 7:00:16 PM,3/26/2021 7:00:46 PM,3/26/2021 7:12:58 PM,3/26/2021 7:14:00 PM,3/26/2021 7:15:37 PM,3/26/2021 7:19:09 PM,NaN,3/26/2021 7:27:26 PM,1.03,3.55,12.70,2.65,6.18,8.28,27.17

payments

,payment_id,payment_order_id,payment_amount,payment_fee,payment_method,payment_status
82303,4640902,75205860,75.30,2.03,ONLINE,PAID
400825,5529107,76900054,435.41,8.71,STORE_DIRECT_PAYMENT,PAID
257280,5101876,86244023,80.70,1.21,ONLINE,PAID
22758,4486506,70486147,20.90,0.31,ONLINE,PAID
391021,5445368,92995149,7.00,0.00,VOUCHER,PAID
242133,5062788,85568647,12.00,0.00,VOUCHER,PAID
189259,4925362,82708715,56.30,0.84,ONLINE,PAID
254114,5093530,86129504,145.20,3.92,ONLINE,PAID
108272,4712330,77118431,96.80,2.61,ONLINE,PAID
293152,5192841,87704846,73.40,1.47,CREDIT,PAID
327555,5280038,89518488,58.80,1.59,ONLINE,PAID
382994,5424256,92609453,25.40,0.38,ONLINE,PAID
172268,4879872,81669963,12.91,0.00,VOUCHER,PAID
176994,4892299,81960650,40.00,0.60,ONLINE,PAID
232266,5038072,85078197,69.40,1.04,ONLINE,PAID
398523,5464735,93130716,18.50,0.28,ONLINE,PAID
3559,4437339,68767158,118.70,3.20,ONLINE,PAID
318545,5257376,89031690,91.80,2.48,ONLINE,PAID
376425,5407280,92237847,166.40,4.49,ONLINE,PAID
109352,4715408,77226216,44.70,0.67,ONLINE,PAID

stores

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude
587,2261,43,LOI CISROMACIS,GOOD,29.0,-25.441221,-49.277690
828,4097,51,SMITAUR SMUIGZIUSU,FOOD,49.0,-22.927336,-43.572533
901,4439,75,IMI MURUZI,GOOD,49.0,-25.477073,-49.289660
434,1586,8,EULARAI MRIPACIA,FOOD,49.9,-22.921475,-43.234822
242,989,36,GRIME CRU,GOOD,29.0,-30.085743,-51.245997
477,1723,33,CIRACIOU,GOOD,29.9,-23.579067,-46.594006
324,1204,18,GRIME CRU,GOOD,NaN,NaN,NaN
664,2863,36,URPIRAI USSUMZI,GOOD,29.9,-30.085743,-51.245997
711,3222,20,PIRMI DA SIPIR,FOOD,49.9,-22.996848,-43.361197
519,1930,20,USPUMUI CIRAICI,FOOD,49.9,-22.996848,-43.361197
831,4110,31,SZIPUAMG SIREAR SUA,GOOD,NaN,-23.630852,-46.735398
672,2933,8,CISI PIUEUEMI,GOOD,NaN,-22.921475,-43.234822
309,1152,8,CISI DA PILIP,FOOD,29.0,-22.922908,-43.234900
506,1881,20,CUMOIARAS,GOOD,29.0,-22.996848,-43.361197
801,3936,85,MIUMSAU,FOOD,49.0,-23.515253,-46.618353
578,2211,35,IMRISFURI SPIRM MUMRAMAIM,GOOD,29.9,-22.973150,-43.370811
358,1290,26,SSIRIVSGA,GOOD,29.0,-23.563758,-46.652621
928,4559,85,MIAF,GOOD,49.0,-23.513353,-46.618490
634,2541,51,GIMA,FOOD,49.0,-22.927336,-43.572533
783,3770,51,OUR ZOLAI,FOOD,49.0,-22.927336,-43.572533

## Consertando formato de data e hora da tabela *orders*

In [51]:
# Lista de colunas que contêm datas e horas
date_columns = ['order_moment_created', 'order_moment_accepted', 'order_moment_ready', 
                'order_moment_collected', 'order_moment_in_expedition', 'order_moment_delivering', 
                'order_moment_delivered', 'order_moment_finished']

# Função para converter o formato da data e hora
def convert_datetime(date_str):
    if date_str:
        return pd.to_datetime(date_str, format='%m/%d/%Y %I:%M:%S %p')
    else:
        return None

# Aplicar a função de conversão a todas as colunas de data e hora
for col in date_columns:
    orders[col] = orders[col].apply(convert_datetime)

orders.sample()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,order_created_minute,order_created_day,order_created_month,order_created_year,order_moment_created,order_moment_accepted,order_moment_ready,order_moment_collected,order_moment_in_expedition,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
165613,82113214,801,13,82113214,82113214,FINISHED,85.8,9.9,8.18,15,28,7,3,2021,2021-03-07 15:28:29,2021-03-07 15:29:20,2021-03-07 15:51:40,2021-03-07 15:52:44,NaT,2021-03-07 15:56:12,2021-03-07 16:15:59,2021-03-07 18:55:37,1.07,NaN,23.18,NaN,4.53,19.78,47.5

### Conexão ao MySQL

In [52]:
for nome in lista_dfs:
    print(f'Conectando: {nome}')
    globals()[nome].to_sql(nome, conexao, index=False, if_exists='append')
    print(f'Conectado!')

Conectando: channels
Conectado!
Conectando: deliveries
Conectado!
Conectando: drivers
Conectado!
Conectando: hubs
Conectado!
Conectando: orders
Conectado!
Conectando: payments
Conectado!
Conectando: stores
Conectado!